dist/index.html
<!DOCTYPE html>
<html class="no-js ie" lang="en" dir="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/app.css" rel="stylesheet" type="text/css">
    <script src="./scripts/vendor.js"></script>
    <script src="./scripts/app.js"></script>
  </head>
  <body class="home">
    <div class="container-fluid">
      <div class="icon icon-github"></div><a href="./sitemap.html">sitemap</a>
      <h1 class="title">Hello everyone! Fighting~</h1>
      <div class="wrap">
        <div class="img"><img alt="dolar" src="../images/dolar.png"></div>
      </div>
    </div>
    <!--[if lte IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
  </body>
</html>

app/views/index.pug
extends _layout/layout.pug

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0
  -lang = "en"
  -rtl = ""

block container
  .container-fluid
    .icon.icon-github
    a(href='./sitemap.html') sitemap
    h1.title Hello everyone! Fighting~
    .wrap
      .img
        img(alt='dolar' src='../images/dolar.png')
    //- include blocks/homepage/gallery

    //- include blocks/homepage/culteral-destinations

  //- .tintup(data-id="psrathore" data-columns="" data-mobilescroll="true" data-infinitescroll="true" data-personalization-id="877454" style="height:500px;width:100%;")
