app/views/sitemap.pug
extends _layout/template.pug

block vars
  -title = 'Sitemap'

block container
  h1.main-title.text-center Hello World
  .container
    h2.title.text-center Templateaaaaaaabbbb
    .row.py-2
      .col-md-4.col-sm-6
        //- +link('Style Guide', 'template-style-guide.html').btn.btn-red-white.d-block.text-center
    h2.title.text-center Pages
    .row.py-2
      .col-md-4.col-sm-6
        //- +link('Home Page', 'index.html').btn.btn-red-white.d-block.text-center
      .col-md-4.col-sm-6
        //- +link('Category Landing Page', 'category-landing.html').btn.btn-red-white.d-block.text-center
      .col-md-4.col-sm-6
        //- +link('Detail Page', 'detail.html').btn.btn-red-white.d-block.text-center
      .col-md-4.col-sm-6
        //- +link('contact Page', 'contact.html').btn.btn-red-white.d-block.text-center

dist/sitemap.html
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>Sitemap</title>
    <meta name="viewport" content="width=device-width, minimal-ui">
    <link rel="stylesheet" href="style/app.css">
  </head>
  <body class="template">
    <h1 class="main-title text-center">Hello World</h1>
    <div class="container">
      <h2 class="title text-center">Templateaaaaaaabbbb</h2>
      <div class="row py-2">
        <div class="col-md-4 col-sm-6"></div>
      </div>
      <h2 class="title text-center">Pages</h2>
      <div class="row py-2">
        <div class="col-md-4 col-sm-6"></div>
        <div class="col-md-4 col-sm-6"></div>
        <div class="col-md-4 col-sm-6"></div>
        <div class="col-md-4 col-sm-6"></div>
      </div>
    </div>
    <p>43534534dsfsdf</p>
    <noscript>JavaScript is off. Please enable to view full site.</noscript>
  </body>
</html>
